<launch>

	<arg name="config_file" default="land_mark_perception_config.yaml"/>
    <rosparam command="load" file="$(find landmark_perception)/config/$(arg config_file)"/>

    <node pkg="landmark_perception" type="landmark_perception_node" name="landmark_perception" output="screen">
        <!-- <param name="camera_mode" value="0"/>

        <param name="rgb_topic" value="$(arg rgb_topic)"/>
        <param name="rgb_info" value="$(arg rgb_info)"/>

        <param name="depth_topic" value="$(arg depth_topic)"/>
        <param name="seg_topic" value="$(arg seg_topic)"/>
        <param name="flow_topic" value="$(arg flow_topic)"/> -->
    </node>

</launch>